* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1170px;
    padding: 0 20px;
    margin: auto;
}

/* TYPOGRAPHY  */
body {
    font-family: Roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}
p {
    font-size: 16px;
    font-weight: 400;
    color: #5B6987;
}

/* HEADER */
/* Banner */
#banner {
    text-align: center;
    padding: 30px 0;
    background-color: #f3f4f9;
}
#banner h3 {
    font-size: 18px;
    letter-spacing: 0.7;
    text-transform: uppercase;
    color: #5B6987;
}
#banner a {
    font-size: 16px;
    text-decoration: none;
    color: #006AFF;
}
.banner__sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.banner__sponsor img {
    width: calc(100% / 6);
    padding: 15px;
}

/* MAIN */
/* Deploy */
#deploy {
    text-align: center;
    padding: 60px 0;
}
#deploy h2 {
    font-size: 36px;
    letter-spacing: -1px;
    line-height: 39.5px;
    color: #031B4E;
}
#deploy .p--large {
    font-size: 20px;
    margin: 10px 0;
}
.deploy__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
.deploy__wrapper .col-1 {
    flex-basis: 25%;
    margin-left: 5%;
    padding-bottom: 45px;
}
.deploy__wrapper .col-1 ul {
    padding-left: 0;
    list-style: none;
}
.deploy__wrapper .col-1 ul li {
    border-left: 2px solid rgb(203,203,203, 0.5);
    border-radius: 1px;
    transition: 0.3s linear;
    text-align: left;
}
.deploy__wrapper .col-1 ul li:hover{
    border-left: 2px solid #006AFF;
}    
.deploy__wrapper .col-1 ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 15px 20px;
    color: rgb(91,105,135, 0.7);
}
.deploy__wrapper .col-2 {
    flex-basis: 70%;
}
.deploy__wrapper .col-2__box {
    width: calc(50% - 4px);
    text-align: left;
    display: inline-block;
    padding: 0 15px;
}
.deploy__wrapper .col-2__box h4 {
    font-size: 18px;
    line-height: 25.5px;
    color: #031B4E;
    margin: 15px 0;
}
.deploy__wrapper .col-2__box p {
  margin-bottom: 20px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .banner__sponsor img {
        width: 50%;
        display: inline-block;
    }
    #deploy {
        width: 95%;
    }
    
    .deploy__wrapper .col-1, .deploy__wrapper .col-2 {
        flex-basis: 100%;
    }
    .deploy__wrapper .col-1 {
        margin-left: 0;
    }
    .deploy__wrapper .col-2__box {
        width: 100%;
        text-align: left;
        display: block;
        padding: 0;
    }
}