* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* TYPOGRAPHY  */
body {
    font-family: Roboto, sans-serif;
}

/* HEADER */
header {
    background-color: #f3f4f9;
}
/* Banner */
#banner {
    width: 65%;
    margin: auto;
    text-align: center;
    padding: 30px 0;
}
#banner h3 {
    font-size: 18px;
    letter-spacing: 0.7;
    text-transform: uppercase;
    color: #5B6987;
}
#banner a {
    font-size: 16px;
    text-decoration: none;
    color: #006AFF;
}
.banner__sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.banner__sponsor img {
    flex-basis: calc(100% / 6);
    padding: 5px;
}
